.head-text {
    color: #ffffff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.text {
    font-size: 18px;
    width: 250px;
}

@media screen and (max-width:640px) {
    .text-2 {
        width: 150px;
    }
}


@media screen and (min-width:641px) and (max-width:768px) {
    .text-2 {
        width: 150px;
    }

}

@media screen and (min-width:769px) and (max-width:1024px) {
    .text-2 {
        width: 150px;
    }

}